* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes a {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  to {
    transform: scale(1);
  }
}
@keyframes b {
  0% {
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
  }
}
@keyframes c {
  0% {
    transform: translate(-50%, -50%) rotate(-80deg);
  }
  70% {
    transform: translate(-50%, -50%) rotate(1063deg);
  }
  80% {
    transform: translate(-50%, -50%) rotate(1054deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(1060deg);
  }
}
@keyframes d {
  0% {
    transform: rotate(1060deg);
  }
  70% {
    transform: rotate(1875deg);
  }
  80% {
    transform: rotate(1865deg);
  }
  to {
    transform: rotate(1870deg);
  }
}
@keyframes e {
  0% {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}
body {
  background-color: #001D3D;
}
.menu {
  background-color: #021127;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 7vh;
}
#img-logo {
  height: 50%;
  width: auto;
}
h1 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  padding-inline: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}
.roulette {
  position: relative;
  width: 100vw;
  height: 45vh;
  margin-top: 220px;
}
#roleta1,
#roleta2 {
  position: absolute;
  left: 50%;
  max-width: 550px;
  transform: translate(-50%, -50%);
}
.spinner {
  animation: b 1.5s ease-in-out infinite;
  width: 100%;
}
#roleta3 {
  max-width: 150px;
  z-index: 10;
  padding-left: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button-roulette {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -55px;
}
#button-cta {
  z-index: 9999999;
  width: 30%;
  height: 45px;
  background-color: #00bf19;
  border: none;
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  box-shadow: 0 0 15px 1px #00bf19;
  animation: a 1s linear infinite;
}
.wheel__spinner_animated-1 {
  animation: 4s c ease-in-out 1;
}
.wheel__spinner_animated-2 {
  animation: 4.5s d ease-in-out 1 forwards;
}
.loading-bar {
  justify-content: space-between;
  height: 15px;
  width: 80vw;
  margin: 0 auto;
  border-radius: 100px;
}
.load-ball,
.loading-bar {
  display: flex;
  background-color: #fff;
  align-items: center;
}
.load-ball {
  height: 50px;
  width: 50px;
  border-radius: 250px;
  box-sizing: border-box;
  justify-content: center;
}
.loading-bar-texts {
  display: flex;
  justify-content: space-between;
  height: 15px;
  width: 80vw;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
.check {
  width: 35%;
}
#people-img {
  border-radius: 50px;
}
.privacy-terms {
  flex-direction: column;
  background-color: #001d3d;
  padding-block: 100px;
  font-size: 12px;
  height: 10vh;
  margin-block: 60px;
}
.people,
.privacy-terms {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Montserrat, sans-serif;
}
.people {
  padding-inline: 10px;
  padding-block: 12px;
  position: fixed;
  top: 100%;
  transform: translateY(-100%);
  width: 100vw;
  height: 60px;
  gap: 12px;
  background-color: #021127;
  border-top: 1px solid #013567;
  z-index: 1e45;
}
.slide-animation {
  animation: e 1.2s;
}
.people img {
  width: 40px;
}
form {
  width: 90vw;
  border: 1px solid #00bf19;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  margin-block: 16px;
}
.hide-me {
  display: none;
}
._form-title {
  color: #fff;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 19px;
  font-weight: 600;
  padding-top: 15px;
}
._form-title p {
  font-weight: 400;
  padding-block: 4px;
  font-size: 14px;
}
._form-label {
  color: #fff;
  font-family: Montserrat, sans-serif;
  text-align: center;
  font-size: 16px;
}
._field-wrapper {
  margin-bottom: 5px;
}
input {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: 1px solid #cccccc46;
  padding: 15px;
  margin-block: 5px;
  border-radius: 10px;
  font-size: 14px;
  color: #fff;
}
._error-inner,
input {
  font-family: Montserrat, sans-serif;
}
._error-inner {
  color: #8d0505;
  font-size: 12px;
  font-weight: 600;
  padding-left: 3px;
}
._submit {
  width: 100%;
  height: 40px;
  background-color: #00bf19;
  border: none;
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  box-shadow: 0 0 15px 1px #00bf19;
  margin-block: 10px 15px;
}
.page-content {
  display: none;
}
._form_36 button {
  background-color: #00bf19;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  box-shadow: 0 0 20px 5px #00bf19;
  border: none;
  margin-block: 15px;
}
._form_36 button:hover {
  background-color: #127d20;
  color: #ffffff;
}
._form_36 ._field-wrapper input:focus {
  border: 2px solid #00bf19 !important;
}
@media (max-width: 800px) {
  .menu {
    width: 100vw;
    padding-block: 5px;
  }
  .privacy-terms {
    padding-block: 20px;
    text-align: center;
    padding-inline: 10px;
  }
  #roleta1,
  #roleta2 {
    max-width: 95%;
    top: 50%;
    left: 50%;
    z-index: -1;
  }
  #roleta2 {
    width: 100%;
    z-index: 1;
  }
  #roleta3 {
    max-width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .roulette {
    overflow: hidden;
  }
  .button-roulette,
  .roulette {
    margin-top: -28px;
  }
  #button-cta {
    width: 70%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
@keyframes f {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.steps {
  display: flex;
  gap: 0;
  justify-content: center;
  margin-top: 12px;
}
.step {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.step p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  font-family: sans-serif;
}
.step-loaded {
  background-color: #00bf19;
  height: 100%;
  width: 0;
}
.bar {
  width: 35px;
  height: 8px;
  background-color: #fff;
  margin-block: auto;
  margin-inline: -1px;
}
.bar-loaded {
  height: 100%;
  width: 0;
  background-color: #00bf19;
}
.loaded {
  animation: f 0.7s linear;
  width: 100%;
}
.steps-h {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 4px;
}
.steps-h span {
  font-size: 11px;
  color: #fff;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  width: 60px;
  text-align: center;
}
.display-off {
  display: none;
}
#_form_36 {
  margin-inline: 12px;
}
#_form_36 ._form {
  background-color: transparent !important;
  width: 90vw !important;
  border: 1px solid #00bf19 !important;
  border-radius: 10px !important;
  padding: 16px !important;
  transform: translateX(-50%) !important;
  margin-block: 16px !important;
  background-color: #00000000 !important;
  backdrop-filter: blur(10px) !important;
  margin-inline: 0 !important;
}
#_form_36 ._form-label,
#_form_36 ._form_element ._form-label {
  display: inline !important;
}
#_form_36 .btn-group-lg > .btn,
.btn-lg {
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */
